.a_all_background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.a_all_background .a_top_background {
  width: 100%;
  height: 71%;
  background: url(../images/background/a_background_top.png);
}
.a_all_background .a_middle_background {
  width: 100%;
  height: 13%;
  background: url(../images/background/a_background_middle.png);
}
.a_all_background .a_bottom_background {
  width: 100%;
  height: 16%;
  background: url(../images/background/a_background_botton.png);
}
